<div class="welcome-container">
  <div class="welcome-header">
    <h1>Find your dream car now!</h1>
  </div>
  <div class="welcome-text-container">
    <div class="welcome-text">
      <span class="large">With CARZONE</span>
      <span class="medium">You will get</span>
      <span class="small">Just what you need</span>
      <div class="flex">
        <button class="more-btn" (click)="scroll()">Click to find MORE</button>
      </div>
    </div>
    <div class="space"></div>
  </div>
</div>
