.icon {
  background-color: transparent;
}

.normal {
  width: 3rem;
}

.small {
  width: 2rem;
}

.reaction-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.reactionCounter {
  transform: translate(2px, -3px);
}

.icon-love {
  width: 1.5rem;
  margin: 0.25rem;
}
