<div class="container">
  <div class="tag-container">
    @for (tag of tags; track $index; let i=$index) {
    <div class="tag">
      <span>{{ tag }}</span>
      <span class="icon" (click)="removeTag(i)">X</span>
    </div>
    }
    <input
      [(ngModel)]="contentInput"
      type="text"
      (keypress)="checkIfEnterPressed($event)"
      name="content"
      id="content"
    />
  </div>
  <!-- <div class="result-box">
    <ul>
      @for (item of items; track $index) {
        <li></li>
      }
    </ul>
  </div> -->
</div>
